{% extends 'base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block body %}



    <h1>Available Jobs </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Company</th>
                <th>job</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.companyName }}</td>
                <td>{{ job.job }}</td>
                <td>
                     {% if is_granted('ROLE_ADMIN')%}
                    <a class="btn btn-danger" href="{{ path('job_show', {'id': job.id}) }}">Admin show</a>

                    <a  class="btn btn-danger" href="{{ path('job_edit', {'id': job.id}) }}">Admin edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN')%}
    <a class="btn btn-danger" href="{{ path('job_new') }}">Admin Create new</a>
    {% endif %}
{% endblock %}
